:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Hanken Grotesk', sans-serif;
}



.score-card {
  margin-top: auto;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  border-radius: calc(20/16 *1rem);
  box-shadow: .5rem 1rem 3rem var(--pale-blue);
}

/* ------------------------left card -------------------- */

.card__score {
  max-width: calc(300/16 * 1rem);
  text-align: center;
  border-radius: calc(20/16 *1rem);
  padding: calc(40/16 *1rem);
  gap: calc(20/16 * 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));
}

.card__score-result {
  font-size: calc(25/16*1rem);
  color: var(--light-lavender);
}

.card__score-value {
  font-weight: 800;
  vertical-align: center;
  /* text-align: center; */
  color: white;
  font-size: calc(60/16 *1rem);
}

.card__circle {
  background-image: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
  clip-path: circle(calc(75/16 * 1rem));
  padding: calc(30/16 * 1rem) calc(50/16 * 1rem);
}

.card__score-heading {
  font-size: calc(30/16 * 1rem);
  color: white;
}

.card__score-feedback {
  display: inline;
  font-size: calc(16/16 * 1rem);
  color: var(--light-lavender);
}

.card__score-total {
  font-size: calc(14/16 * 1rem);
  color: var(--light-lavender);
}


/* ---------------------------right card ------------------ */

.card__summary {
  padding: calc(40/16 *1rem);
  gap: calc(10/16 * 1rem);
  display: flex;
  flex-direction: column;
}

.card__topic {
  min-width: calc(250/16 * 1rem);
  border-radius: calc(10 / 16 * 1rem);
  display: flex;
  align-items: center;
  padding: calc(15/16 * 1rem);
  color: var(--light-red);
}

.red {
  color: var(--light-red);
  background-color: hsl(6, 100%, 98%);
}

.yellow {
  background-color: hsl(42, 100%, 97%);
  color: var(--orangey-yellow);
}

.blue {
  background-color: hsl(173, 53%, 97%);
  color: var(--cobalt-blue);
}

.green {
  background-color: hsl(240, 71%, 97%);
  color: var(--green-teal);
}

.card__topic-name {
  margin-left: calc(5/16 * 1rem);
}

.card__topic-score {
  color: black;
  margin-left: auto;
}

.card__topic-total {
  color: var(--light-lavender);
}

.btn {
  padding: calc(15/16 * 1rem);
  color: white;
  background-color: var(--dark-gray-blue);
  border: 0;
  margin-top: auto;
  font-family: 'Hanken Grotesk', sans-serif;
  border-radius: 200px;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover {
  background-image: linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));
}

@media only screen and (max-width:650px) {
  .score-card {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  .card__score {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 100%;
  }

}

/* -----------------footer---------------------- */
.attribution {
  text-align: center;
  margin-top: auto;
  margin-bottom: 1rem;
}